* {
    padding: 0;
    margin: 0;
}

.header-logotype {
    position: absolute;
    width: 60px;
    left: 86px;
    top: 39px;
    font: 400 34px/43px 'Crete Round', serif;
    color: #060C31;
    text-decoration: none;
}

.main-title {
    position: absolute;
    width: 493px;
    left: 86px;
    top: 172px;
    font: 400 58px/64px 'Crete Round', serif;
    letter-spacing: 2.7px;
    color: #060C31;
}

.main-text {
    position: absolute;
    width: 493px;
    left: 86px;
    top: 400px;
    font: 400 15px/28px 'Lato', sans-serif;
    letter-spacing: 0.75px;
    color: #060C31;
}

.main-clipart {
    position: absolute;
    left: 86px;
    top: 609px;
}

.button {
    position: absolute;
    border-radius: 50px;
    padding: 25px 27.5px;
    top: 532px;
    font: 700 15px/0px 'Lato', sans-serif;
    text-decoration: none;
}

.button-fill {
    left: 86px;
    padding: 25px 39px;
    color: #FFFFFF;
    background: #233FE2;
    border: 0px;
}

.button-transparent {
    left: 262px;
    color: #060C31;
    background: #ffffff;
    border: 1px solid #FFB0B1;
}