* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 586px;
    margin: 60px 0 0 88px;
}

.logo {
    font: 400 34px/43px 'Crete Round', serif;
    color: #060C31;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
}

.menu__item {
    font: 700 13px/28px 'Lato', sans-serif;
    color: #060C31;
    list-style: none;
    text-decoration: none;
}

.main {
    margin: 67px 0 0 200px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.main-content__title {
    margin-top: 100px;
    width: 449px;
    height: 192px;
    font: 400 58px/64px 'Crete Round', serif;
    color: #060C31;
}

.main-content__text {
    margin-top: 42px;
    width: 430px;
    height: 84px;
    font: 400 15px/28px 'Lato', sans-serif;
    letter-spacing: 0.75px;
    color: #060C31;
}

.buttons-container {
    margin-top: 76px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.button-get-started {
    font: 700 15px/0px 'Lato', sans-serif;
    color: #FFFFFF;
    background: #233FE2;
    width: 156px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
}

.button-create-account {
    font: 700 15px/0px 'Lato', sans-serif;
    color: #060C31;
    background: #ffffff;
    width: 156px;
    height: 46px;
    border: 1px solid #FFB0B1;
    border-radius: 50px;
}

.footer {
    margin: 104px 0 0 548px;
    width: 804px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}