* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 586px;
    padding: 60px 0 0 88px;
}

.logo {
    font: 400 34px/43px 'Crete Round', serif;
    color: #060C31;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.menu__item {
    font: 700 13px/28px 'Lato', sans-serif;
    color: #060C31;
    list-style: none;
    text-decoration: none;
}

.main {
    padding: 61px 0 0 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.main-content__title {
    padding-top: 100px;
    width: 449px;
    font: 400 58px/64px 'Crete Round', serif;
    color: #060C31;
}

.main-content__text {
    padding: 42px 0 76px 0;
    width: 430px;
    font: 400 15px/28px 'Lato', sans-serif;
    letter-spacing: 0.75px;
    color: #060C31;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.button {
    font: 700 15px/0px 'Lato', sans-serif;
    color: #FFFFFF;
    background: #233FE2;
    padding: 23px 37px;
    border: 1px solid #233FE2;
    border-radius: 50px;
    text-decoration: none;
}

.button_transparent {
    color: #060C31;
    background: #ffffff;
    padding: 23px 26px;
    border: 1px solid #FFB0B1;
}

.footer {
    padding: 104px 0 0 548px;
    width: 804px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}