.content {
    background: #ffffff;
}

.contact {
    padding: 0 0 56px 12.93%;
    display: grid;
    width: 100%;
    grid-template-rows: 145px 558px;
    grid-template-columns: repeat(4, 255px);
    background: #ffffff;
    gap: 48px 30px;
}

.contact__block {
    padding: 24px;
    font: 400 15px/27px 'Montserrat', sans-serif;
    color: #999999;
    background: #F8F9FA;
}

.contact_text-color-accent {
    color: #1A1A1A;
}

.contact__title {
    padding: 71px 0 36px 13.5%;
    font: 600 28px/42px 'Poppins', sans-serif;
    color: #000000CC;
}

.contact__adress {
    grid-area: 1 / 1;
}

.contact__phone {
    grid-area: 1 / 2;
}

.contact__email {
    grid-area: 1 / 3;
}

.contact__website {
    grid-area: 1 / 4;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px;
    grid-area: 2 / 1 / 3 / 3;
}

.form-field {
    padding: 17.5px 22px;
    background: #FFFFFF;
    border: 1px solid #CED4DA;
}

.form-textarea {
    padding-top: 13.5px;
    resize: none;
}

::placeholder {
    font: 400 15px/27px 'Montserrat', sans-serif;
    color: #999999;
}

.form-button {
    padding: 29px;
    width: 215px;
    background: #CCB78F;
    border: 1px solid #CCB78F;
    border-radius: 30px;
    color: #FFFFFF;
    font: 400 15px/0px 'Montserrat', sans-serif;
}

@media screen and (max-width: 1700px) {
    .contact {
        padding-left: 2%;
        grid-template-columns: repeat(4, 23%);
        gap: 48px 2%;
    }

    .contact__title {
        padding-left: 2%;
    }
}

@media screen and (max-width: 1240px) {
    .contact {
        grid-template-rows: repeat(2, 145px) 558px;
        grid-template-columns: repeat(2, 48.1%);
    }

    .contact__email {
        grid-area: 2 / 1;
    }
    
    .contact__website {
        grid-area: 2 / 2;
    }
    
    .contact__form {
        grid-area: 3 / 1 / 4 / 3;
    }
}

@media screen and (max-width: 600px) {
    .contact {
        grid-template-rows: repeat(4, 145px) 558px;
        grid-template-columns: 95.1%;
    }

    .contact__phone {
        grid-area: 2 / 1;
    }

    .contact__email {
        grid-area: 3 / 1;
    }
    
    .contact__website {
        grid-area: 4 / 1;
    }
    
    .contact__form {
        grid-area: 5 / 1;
    }
}