.my-services {
    padding: 99px 0 59px 178px;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(2, 299px);
    grid-template-columns: repeat(3, 380px);
    background: #ffffff;
}

.my-services__title {
    padding: 16px 8px;
    font: 600 20px/30px 'Poppins', sans-serif;
    color: #000000CC;
}

.my-services__text {
    padding: 4px 8px;
    max-width: 280px;
    font: 500 15px/27px 'Montserrat', sans-serif;
    color: #999999;
}

.my-services__icon {
    background: url('./../images/circle.png');
    padding: 23.5px 22.5px;
}

.equipment-icon {
    padding: 31px 23px;
}

.sessions-icon {
    padding: 22px 22px;
}

.photo-film-icon {
    padding: 21.5px 23px;
}

@media screen and (max-width: 1730px) {
    .my-services {
        padding-left: 2%;
        grid-template-columns: repeat(3, 33.2%);
    }
}

@media screen and (max-width: 1014px) {
    .my-services {
        grid-template-rows: repeat(3, 299px);
        grid-template-columns:  repeat(2, 48.8%);
    }
}

@media screen and (max-width: 680px) {
    .my-services {
        padding-left: 12%;
        grid-template-rows: repeat(6, 299px);
        grid-template-columns: 87.8%;
    }
}