* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.header {
    margin: 30px 0 0 120px;
    width: 1680px;
}

.menu {
    display: inline-block;
    margin: 18px 0 0 865px;
    width: 549px;
    list-style: none;
}

.menu__item {
    display: inline;
    list-style: none;
}

.menu__link {
    display: inline-block;
    margin: 0 80px 0 0;
    font: 500 16px/20px 'Montserrat', sans-serif;
    text-decoration: none;
    color: #000000;
}

.button-enroll {
    font: 600 16px/16px 'Montserrat', sans-serif;
    text-align: center;
    color: #FFFFFF;
    background: #05090C;
    border-radius: 4.59px;
    width: 247px;
    height: 55px;
}

.button-enroll_width-accent {
    width: 332px;
}

.header-introduction {
    margin: 43px 0 0 178px;
    height: 732px;
}

.header-introduction__content {
    display: inline-block;
    margin: 180px 0 246px 0;
    width: 745px;
    vertical-align: top;
}

.header-introduction__picture {
    display: inline-block;
    margin: 30.35px 0 0 29.57px;
}

.header-introduction__title {
    font: 600 100px/122px 'Montserrat', sans-serif;
    color: #000000;
}

.text_color-accent {
    color: #EE58B6;
}

.header-introduction__text {
    margin: 20px 0 46px 0;
    width: 545px;
    font: 400 26px/31px 'Roboto Condensed', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.main-content {
    width: 1920px;
    height: 398px;
    background: #000000;
}

.main-content__blocks {
    display: inline-block;
    margin: 111px 0 0 365px;
    text-align: center;
}

.main-content__block {
    display: inline-block;
    width: 337px;
    margin-right: 85px;
}

.main-content__text {
    margin: 15px auto;
    font: 400 22px/26px 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
}

.main-content__text_width-accent {
    width: 303px;
}

.resume {
    margin: 125px 0 0 593px;
    width: 734px;
    height: 431px;
    text-align: center;
}

.resume__text-header {
    margin: 20px 0 9px 0;
    font: 500 26px/31px 'Montserrat', sans-serif;
    color: #000000;
}

.resume__text {
    font: 400 18px/27px 'Roboto Condensed', sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

.resume__text-container {
    margin: 24px 0 41px 54px;
    width: 626px;
}

.social-network-icons {
    display: inline-block;
    width: 166px;
}

.footer {
    margin-top: 118px;
    width: 1920px;
    height: 108px;
    background: #000000;
}

.footer__text {
    display: inline-block;
    margin: 35px 0 0 876px;
    font: 700 30.8354px/38px 'Montserrat', sans-serif;
    letter-spacing: -0.045em;
    color: #FFFFFF;
}