* {
    padding: 0;
    margin: 0;
}

.main-photo {
    position: absolute;
    width: 662px;
    left: 140px;
    top: 104px;
}

.main-title {
    position: absolute;
    width: 500px;
    left: 139px;
    top: 994px;
    font: 400 23px/43px 'Montserrat', sans-serif;
    color: #BFBFBF;
}

.main-resume {
    position: absolute;
    width: 500px;
    left: 138px;
    top: 1037px;
    font: 700 40px/60px 'Poppins', sans-serif;
    letter-spacing: 1px;

    color: #000000;
}

.main-resume-brown {
    color: #CCB78F;
}

.main-text {
    position: absolute;
    width: 654px;
    left: 140px;
    top: 1251px;
    font: 400 18px/32px 'Montserrat', sans-serif;
    color: #999999;
}

.main-signature {
    position: absolute;
    width: 141px;
    left: 140px;
    top: 1450px;
    font: 400 40px/60px 'Herr Von Muellerhoff', cursive;
    color: rgba(0, 0, 0, 0.8);
}