* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.menu_wrapper {
    display: inline-block;
    vertical-align: top;
    width: 422px;
    height: 800px;
    background: rgba(0, 0, 0, 0.04);
}

.menu_avatar {
    margin: 45px 131px 0;
    border-radius: 253px;
}

.menu_title {
    margin: 9px 0 36px 0;
    font: 400 24px/36px 'Poppins', sans-serif;
    text-align: center;
}

.menu_links_wrapper {
    display: inline;
    list-style: none;
    text-align: center;
}

.menu_link {
    display: inline-block;
    margin-bottom: 14px;
    text-decoration: none;
    font: 400 16px/29px 'Montserrat', sans-serif;
    color: #282b30;
}

.main_photo_wrapper {
    display: inline-block;
    vertical-align: top;
    width: 662px;
    height: 800px;
}

.main_content_wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 838px;
    height: 800px;
    background: #F8F9FA;
}

.main_greetings_background {
    position: absolute;
    left: 86px;
    top: 66px;
    font: 700 69px/103px 'Poppins', sans-serif;
    letter-spacing: 1.71667px;
    color: #EDEDED;
    z-index: 1;
}

.main_greetings {
    position: absolute;
    left: 135px;
    top: 90px;
    font: 400 23px/43px 'Montserrat', sans-serif;
    color: #BFBFBF;
    z-index: 2;
}

.main_resume {
    position: absolute;
    left: 134px;
    top: 133px;
    font: 700 40px/60px 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.main_resume_brown {
    color: #CCB78F;
}

.main_text {
    position: absolute;
    left: 136px;
    top: 347px;
    width: 654px;
    font: 400 18px/32px 'Montserrat', sans-serif;
    color: #999999;
}

.main_signature {
    position: absolute;
    left: 136px;
    top: 493px;
    font: 400 40px/60px 'Herr Von Muellerhoff', cursive;
    color: rgba(0, 0, 0, 0.8);
}